body {
  margin: 0;
  display: flex;
}
.timetable {
  flex: 1;
  padding: 20px;
  height: 100vh;
}
.tieu-de h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.tieu-de ul {
  list-style: none;
  padding: 0;
}
.tieu-de ul li {
  margin: 8px 0;
}
.tieu-de ul li a {
  color: white;
  text-decoration: none;
}

/* Timetable */
.timetable {
  flex: 1;
  padding: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
th, td {
  border: 1px solid #ccc;
  padding: 8px;
  vertical-align: top;
}
th {
  background: #3498db;
  color: white;
}
.class-box {
  background: #2980b9;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
}
