body {
    background-color: white;
    margin:0 auto;
}
header{
    display:flex;
    justify-content: space-between;
    height:80px;
    background-color: blue;
    padding:0 20px;
    width:auto;
}

.banner {
    display:flex;
    height:400px;
    width: 60%;      
    margin:30px auto;
    background-color: black;
}
.kenh{
    width:10%;
    height:100px;
    margin: 30px auto;
    justify-content: space-between;
    background-color: yellow;

}
.ten-kenh{
    width:90%;
    padding:0 20px;
    height:150px;
    margin: 10px auto;
    background-color: pink;
    display:flex
}