h3{
    color:red; 
    background-color:yellow;
}

#tieude-1{
    background-color:green;
}

.tieude-2{
    color:blue;
}
div.web4{
    color:red;
    back ground-color:pink;
}
div.box1{
    color:blue;
    background-color:yellow;
}
div.box2{
    color:green;
    background-color:orange;
}
div.box3{
    color:green;
    background-color:red;
}   